* {
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(#020111, #191621);
	height: 100vh;
	font-family: "Courier New", Courier, monospace;
}

div {
	direction: rtl;
	font-family: "Gulzar";
	/* display: block; */
}

section {
	background-image: url("stars1.png");
	height: 100vh;
	display: flex;
	text-align: center;
	align-items: center;
	/* display: grid;
	justify-content: center;
	align-items: center; */
	color: white;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}
